<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-image: url('https://www.crio.do/blog/content/images/2020/09/Sep_01.png');
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
        
        .register-section {
            background-color: lightgreen;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-right:300px;
        }
        
        h1 {
            text-align: center;
        }
        
        button {
            background-color: aqua;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        form label {
            margin: 10px 0 5px;
            width: 100%;
        }
        
        form input {
            padding: 10px;
            margin-bottom: 15px;
            width: 100%;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <div class="register-section">
        <h1>User Register</h1>
        <form action="/register" method="post">
            <label for="username">Username</label>
            <input type="text" id="username" name="username">
            <label for="email">Email</label>
            <input type="email" id="email" name="email">
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
            <button type="submit">Submit</button>
        </form>
    </div>
</body>

</html>
